* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-family: 'Roboto', sans-serif;
}

nav {
    width: 100%;
    height: 60px;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
}

nav>div {
    width: 85%;
    height: 100%;
    margin: auto;
}

ul#nav-right {
    list-style: none;
    float: right;
}

ul#nav-right>li {
    float: left;
    margin-left: 10px;
}

a#brand {
    color: #ffffff;
    text-decoration: none;
    font-size: 50px;
    font-family: 'Supermercado One', cursive;
    text-shadow: 2px 2px 4px #000;
}

header {
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 93vh;
}