* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #eeeeee;
}

nav {
    width: 100%;
    height: 60px;
    background: rgba( 0, 0, 0, 0.7 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 10px );
    -webkit-backdrop-filter: blur( 10px );
    position: fixed;
    z-index: 2;
}

nav>div {
    width: 80%;
    height: 100%;
    margin: auto;
}

ul#nav-right {
    list-style: none;
    float: right;
}

ul#nav-right>li {
    float: left;
    margin-top: 18px;
}

ul#nav-right>li>a {
    color: #ffffff;
    text-decoration: none;
    padding: 15px 10px;
    font-size: larger;
    font-family: 'Rowdies', cursive;
}

a#brand {
    color: #ffffff;
    text-decoration: none;
    font-size: 50px;
    font-family: 'Supermercado One', cursive;
    text-shadow: 2px 2px 4px #000;
}

header {
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 100vh;
    display: inline-block;
}

div#welcome-texts {
    position: absolute;
    right: 0; bottom: 25%;
    width: min-content;
    text-align: right;
}

div#welcome-texts>h1 {
    font-size: 80px;
    margin-bottom: 50px;
}

div#welcome-texts>a {
    font-size: xx-large;
}

.shadowed-blackbackground-white-text {
    color: #ffffff;
    text-shadow: 3px 3px 6px #000000;
    text-decoration: none;
    display: inline-block;
    padding: 15px;
    font-family: 'Playfair Display', serif;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.75);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.45);
}

h1.section-title {
    width: max-content;
    margin: auto;
    font-family: 'Playfair Display', serif;
    font-size: xx-large;
    border-bottom: 5px solid #000000;
}

.card-slider {
    margin-bottom: 1000px;
    width: 100%;
    height: 350px;
    background-color: #ffffff;
    margin-top: 10px;
    display: inline-block;
    position: relative;
}

.card-wrapper {
    width: 1250px;
    height: 350px;
    margin: auto;
    /* overflow: hidden; */
    display: flex;
    align-items: center;
}

.card {
    width: 230px;
    height: 280px;
    border-radius: 35px;
    background: #ffffff;
    box-shadow:  20px 20px 77px #d9d9d9,
               -20px -20px 77px #ffffff;
    padding: 10px;
    position: relative;
    float: left;
    margin-right: 40px;
}

.card-header {
    height: max-content;
    width: 230px;
    text-align: center;
    margin-bottom: 10px;
}

.card-body {
    width: 230px;
    height: 225px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: justify;
}

.card-footer {
    position: absolute;
    bottom: 15px;
    height: 100px;
    width: 230px;
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 40%, rgba(255,255,255,0.639093137254902) 100%);
    color: #d35400;
    text-decoration: none;
    font-size: x-large;
    font-weight: 700;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider-arrow {
    color: #000000;
    border-radius: 100%;
    background-color: #ffffff;
    box-shadow: 20px 20px 77px #d9d9d9,
               -20px -20px 77px #ffffff;
    padding: 25px;
    position: absolute;
    top: 140px;
    left: 65px;
    z-index: 1;
}