* {
    padding: 0;
    margin: 0;
    border: 0;
}

nav#navbar {
    width: 20%;
    height: 100vh;
    background-color: #132c09;
    float: left;
}

section#right-section {
    width: 80%;
    height: 100vh;
    background-color: #dddddd;
    float: right;
}