* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-family: 'Roboto', sans-serif;
    cursor: default;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #eeeeee;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
::-webkit-scrollbar-track {
    border-radius: 10px;
    background: #eee;
    box-shadow: 0 0 1px 1px #bbb, inset 0 0 7px rgba(0,0,0,0.3)
  }
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: linear-gradient(left, #96A6BF, #63738C);
    box-shadow: inset 0 0 1px 1px #5C6670;
  }
::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(left, #8391A6, #536175);
  }

nav {
    width: 100%;
    height: 60px;
    background: rgba( 0, 0, 0, 0.7 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 10px );
    -webkit-backdrop-filter: blur( 10px );
    position: fixed;
    z-index: 2;
}

nav>div {
    width: 80%;
    height: 100%;
    margin: auto;
}

ul#nav-right {
    list-style: none;
    float: right;
}

ul#nav-right>li {
    float: left;
    margin-top: 18px;
}

ul#nav-right>li>a {
    color: #ffffff;
    text-decoration: none;
    padding: 15px 10px;
    font-size: larger;
    font-family: 'Rowdies', cursive;
    transition: border-bottom 500ms;
}

ul#nav-right>li>a:hover {
    border-bottom: 3px solid #fff;
}

.dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    /* display: none; */
    /* opacity: 0; */
    position: absolute;
    left: -30px;
    background-color: #f9f9f9;
    min-width: 160px;
    border-radius: 0 0 20px 20px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    visibility: hidden;
    transform: translateY(150px);
    opacity: 0;
    transition: visibility 0.5s, transform 0.4s linear, opacity 0.5s;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:last-child {border-radius: 0 0 20px 20px;}

  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    /* display: block; */
    visibility: visible;
    transform: translateY(0);
    opacity: 1;
  }

a#brand {
    color: #ffffff;
    text-decoration: none;
    font-size: 50px;
    font-family: 'Supermercado One', cursive;
    text-shadow: 2px 2px 4px #000;
}

header {
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 100vh;
    display: inline-block;
}

div#welcome-texts {
    position: absolute;
    right: 50px; bottom: 25px;
    width: min-content;
    text-align: right;
}

div#welcome-texts>h1 {
    font-size: 80px;
    margin-bottom: 50px;
}

div#welcome-texts>a {
    font-size: xx-large;
    cursor: pointer;
}

.shadowed-blackbackground-white-text {
    color: #ffffff;
    text-shadow: 3px 3px 6px #000000;
    text-decoration: none;
    display: inline-block;
    padding: 15px;
    font-family: 'Playfair Display', serif;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.75);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.45);
}

h1.section-title {
    width: max-content;
    margin: auto;
    font-family: 'Playfair Display', serif;
    font-size: xx-large;
    border-bottom: 5px solid #000000;
    margin-bottom: 25px;
}

.card-wrapper {
    width: 100%;
    height: min-content;
    background-color: #ffffff;
    padding: 20px 0;
    margin-bottom: 25px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
}

.card {
    width: 250px;
    height: 300px;
    padding: 10px 25px 20px 25px;
    margin: 15px;
    border-radius: 35px;
    background: #ffffff;
    box-shadow:  10px 10px 30px #b3b3b3,
             -10px -10px 30px #ffffff;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: height 2s, width 2s;
}

.card-header {
    width: 100%;
    height: min-content;
    text-align: center;
    margin-bottom: 10px;
}

h2.card-title {
    font-family: 'Rowdies', cursive;
    font-weight: 100;
}

.card-body {
    width: 100%;
    height: 100%;
    text-align: left;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-body>pre {
    white-space: pre-wrap;
}

.card-footer {
    width: 95%;
    height: 75px;
    font-size: x-large;
    font-weight: 700;
    color: #d35400;
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 20%, rgba(255,255,255,0.639093137254902) 100%);
    position: absolute;
    bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.card-footer>i {
    cursor: pointer;
}

.card-see-all {
    height: 500px;
    width: 500px;
}

.card-see-all>.card-body {
    overflow-y: auto;
}

.card-footer-see-all {
    position: static;
}

.quote-wrapper {
    width: 750px;
    height: min-content;
    border-radius: 25px;
    background: #ffffff;
    box-shadow:  22px 22px 50px #b0b0b0,
             -22px -22px 50px #ffffff;
    padding: 20px 0 0 0;
    margin: auto;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    
}

.quote {
    width: 100%;
    min-height: 150px;
    height: max-content;
    box-sizing: border-box;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    border-bottom: 1px solid #eeeeee;
    border-radius: 5px 5px 25px 25px;
}

.quote-right {
    text-align: right;
    border-right: 10px solid #d35400;
}

.quote-left {
    text-align: left;
    border-left: 10px solid #d35400;
}

p.quote-content {
    color: #000000;
    font-weight: bold;
    font-size: larger;
}

section#aboutme {
    width: 750px;
    height: min-content;
    border-radius: 25px;
    background: #ffffff;
    box-shadow:  22px 22px 50px #b0b0b0,
             -22px -22px 50px #ffffff;
    padding: 20px;
    margin: auto;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
}

@media only screen and (min-width: 1350px) {
    section#aboutme {width: 1250px;}
}

@media only screen and (min-width: 1050px) and (max-width: 1350px) {
    section#aboutme {width: 1000px;}
}

#me {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    /* border-bottom: 1px solid #bbb; */
}

#my-description {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

#my-name {
    width: max-content;
    font-family: 'Supermercado One', cursive;
    font-size: xx-large;
}

#my-title {
    width: max-content;
    font-size: medium;
}

#my-picture {
    width: 300px;
    height: 300px;
    background-image: url("me.jpg");
    background-clip: border-box;
    background-size: 300px 400px;
    background-position: 0px 0px;
    background-repeat: no-repeat;
    border-radius: 100%;
    box-shadow:  10px 10px 25px #b0b0b0,
             -10px -10px 25px #ffffff;
}

#aboutme-content {
    margin-left: 25px;
    text-align: justify;
    font-size: large;
}

#aboutme-content>p {
    text-indent: 20px;
}

#social-wrapper {
    width: 100%;
    height: 50px;
    margin: 20px 0 5px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    position: relative;
}

a.social {
    text-decoration: none;
    cursor: pointer;
    margin: 0 10px;
    box-shadow:  10px 10px 25px #b0b0b0,
             -10px -10px 25px #ffffff;
    background-color: rgba( 0, 0, 0, 0 );
}

a.social>* {
    cursor: pointer;
}

i.social-icon {
    padding: 10px 11px;
    color: #fff;
    background-color: #0059ff;
    border-radius: 100%;
}

span.social-text {
    width: max-content;
    color: #000;
    background-color: #ffffff;
    border-radius: 0 10px 10px 0;
    padding: 5px 10px 5px 10px;
    font-weight: bold;
}
    

.btn {
    padding: 25px 10px;
    background-color: #d35400;
    color: #ffffff;
    font-size: x-large;
    font-family: 'Rowdies', cursive;
    text-decoration: none;
    cursor: pointer;
    margin: auto;
    display: block;
    border-radius: 5px;
    box-shadow:  10px 10px 25px #b0b0b0,
             -10px -10px 25px #ffffff;
    margin-top: 25px;
    margin-bottom: 30px;
    height: fit-content;
    width: fit-content;
}

.anchor {
    width: 0px;
    height: 0px;
    display: block;
    opacity: 0;
    position: absolute;
    top: -62px;
}

section {
    position: relative;
}

footer {
    width: 100%;
    height: min-content;
    padding: 20px 0;
    text-align: center;
    background-color: #000000;
    color: #ffffff;
}